.drawer-wrapper {
    position: fixed;
    right: -300px;
    border: 2px solid;
    height: 100vh;
    width: 100vw;
    margin-top: -30px;
    background-color: antiquewhite;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: red;
}

.right {
    right: 0;
}